
<div id="netBanking" class="blockMain">
	<h3>Popular banks :</h3>
	<ul id="popularBanks">
		{{#each allbank}} 
			{{#if popular}}
				<li class="{{titile}}">
					<label for="{{value}}_bank">
						<input type="radio" name="nbbank_radio" class="radio-box" value="{{value}}" id="{{value}}_bank">
						<span class="bankLogo lo-nb{{value}}">{{nbname}}</span>
					</label>
					
				</li>
			{{/if}}
		{{/each}}
	</ul>


	
	<div class="form-group">
		<label class="control-label">All other banks</label>
		<select name="nbbank_select" id="nbbank_select">
		<option value=" ">Select bank</option>
		{{#each allbank}}
			<option value="{{value}}">{{nbname}}</option>

		{{/each}}
		</select>
	</div>
	<div class="form-group">
		<input type="submit" value="Submit" id="nb_submit" class="btn">
	</div>
</div>