<div class="blockMain blockWallet" data="tabs-6">
    <ul class="wallet-list">
        {{#each wallet}}
        <li>
            <label for="{{labelfor}}">
            <input type="radio" name="walletname" value="{{value}}" class="radio-box {{class}}" data-wallet-type="{{id}}" />
            <span class="{{spanclass}}"></span>
        </label>
        </li>
        {{/each}}
     </ul>
    <div class="form-group">
        <input type="submit" value="Submit" data-btnid="nb_submit" class="btn">
    </div> 
</div>