
{{#each wallet}}
    <li>
        <label for="{{labelfor}}">
            <input type="radio" name="walletname" value="{{value}}" class="radio-box {{class}}" data-wallet-type="{{id}}" />
            <span class="{{spanclass}}"></span>
        </label>
    </li>
{{/each}}
