<div class="blockMain {{cardsClass}}" data-tab-type="{{dataTabType}}">
    <div class="bharatqr-list">
        <div class="bqr-tab-logo"></div>
        <div class="form-group">
            <input type="button" value="{{genqrBtnTxt}}" class="btn bharat-qr-submit" data-popup-open="popup-bharatQr">
        </div>
    </div>

    <div class="bqr-work">
        <ul>
            <li class="th">How it works</li>
            <li><i class="icon iphscan"></i>{{workTx1}} </li>
            <li><i class="icon iconfirm"></i>{{workTx2}} </li>
            <li><i class="icon iphpin"></i>{{workTx3}} </li>
        </ul>
    </div>


    <div class="popupWrap xs-popup" data-popup="popup-bharatQr">
        <div class="popup-content">
            <!-- <span><a href="#" class="cls-popup cls-bhpopup">X</a></span> -->
            <div class="bharat-qr">
                <div class="bqr-logo"></div>
                <div class="bqr-img" id="bharatqr_img"><!--<img src="" alt="BHARAT QR Code">--></div>
                <div class="bqr-supp"></div>
                <p class="session-time text-center">{{{sessionTx}}} </p>
            </div>
        </div>
    </div>
</div>