<div class="blockMain blockCards {{cardsClass}}"  data-tab-type="{{dataTabType}}">
    <input type="hidden" name="cardinfo.expmon" id="exp-month" />
	<input	type="hidden" name="cardinfo.expyr" id="exp-year" />
    <div class="defaultBlock card-ccdc">
        {{#if isEmiTab}}
            <div class="formDom form-group">
                <select class="form-control">
                    <option></option>
                    {{#each cardEmiBank}} 
                        {{#if cardEmi}}
                            <option value="{{value}}">{{nbname}}</option>
                        {{/if}}
                    {{/each}}
                </select>
                <label>Select Bank</label>
            </div>
            <table width="100%" class="emitable">
                <tr>
                    <th></th>
                    <th>EMI Tenure</th>
                    <th>Bank Interest Rate</th>
                    <th>Monthly Installments</th>
                    <th>Interest paid to Bank</th>
                </tr>
                {{#each emiTable}}
                <tr>
                    <td><input type="radio" name="radioval" value="{{radioval}}" ></td>
                    <td>{{emiTenure}}</td>
                    <td>{{bankRate}}</td>
                    <td>{{installments}}</td>
                    <td>{{interestPaid}}</td>                    
                </tr>
                {{/each}}
            </table>
            {{#each emiTable}} 
                {{#if cardEmi}}
                    <option value="{{value}}">{{nbname}}</option>
                {{/if}}
            {{/each}}
        {{/if}}

        <div class="cardWrap">
            <input type="hidden" name="cardinfo.cardtype" id="cardType" value="CREDITCARD" />
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="tel" maxlength="23" class="form-control cardNumber" maxlength="23" data-rule-required="false">
                    <label>{{cnLabel}}</label>
                    <span class="input-group-addon icon {{iconCard}}"></span>
                </div>
                <span class="help">{{heCnum}}</span>
            </div>

            <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control cardname" data-rule-required="false">
                    <label>{{chnLabel}}</label>
                    <span class="input-group-addon icon {{iconCname}}"></span>
                </div>
                <span class="help">{{heChold}}</span>
            </div>

        	<div class="row">                              
                <div class="col-xs-6">
                    <div class="formDom form-group">
                        <input type="tel" class="form-control exp_date" placeholder="MM/YY" data-rule-required="false">
                        <label>{{cxLabel}}</label>
                    </div>
                </div>                             
                <div class="col-xs-6">
                    <div class="formDom form-group">
                        <div class="input-group">
                            <input type="password" class="form-control cvv" data-rule-required="false">
                            <label>{{cvvLabel}}</label>
                            <span class="input-group-addon icon {{iconCVV}}"></span> 
                        </div>
                        <span class="help cvv-help">{{heCVV}}</span>
                        <span class="help amexcvv-help">{{heCVVAmex}}</span>
                        
                    </div>
                </div>
            </div> 
        </div>  
        {{#if showSavedCard}}
            <div class="form-group margin0">
                <label>
                    <input type="checkbox" class="save-Card-Check" value="">
                    {{savetx}}
                </label>
            </div>  
        {{/if}}
        <!-- emi section st -->
        {{#if showEmiCheck}}
        <div class="emi-info form-group">
                <label>
                    <input type="checkbox" class="emi-Check" disabled value="">
                    {{emiCheck}}
                </label>
                <!-- modal for emi Plans -->
                <div class="needhelp inline-block">
                        <span class="view-plans">
                            <span class="emi-plans">{{emiPlans}}</span> 
                            <span class="emi-change">{{emiPlansChange}}</span>
                        </span>
                        <div class="view-plans-box info-content">
                            <ul class="menu-list">
                            {{#each emiTable}}
                            <li data-attr-radioname="{{bankname}}">
                               <label><input type="radio" name="radioval" value="{{radioval}}" >
                                <span>{{emiTenure}} | {{bankRate}} | {{interestPaid}} | {{totalAmount}}</span>
                                </label>
                            </li>                               
                            {{/each}}
                            </ul>
                        </div>
                </div>
                <div class="radioname"></div>
        </div>
        {{/if}}
        <!-- emi section end -->
        <div class="form-group">
            {{#if savedCreditCard}}
                <input type="submit" value="Submit" class="btn save-card" data-sub-form-id="{{dataSubFormId}}">
            {{else}}
                 <input type="submit" value="Submit" class="btn save-card" data-sub-form-id="{{dataSubFormId}}">
            {{/if}}
        </div> 
    </div>
    

    {{#if savedCard}}
    <div class="savedCard signup-section">
        <div class="signBlock">
            <h3 class="subtitle">Sign Up</h3>
             <div class="formDom form-group">
                <div class="input-group">
                    <input type="tel" class="form-control mobnumns" maxlength="10" minlength="10">
                    <label>{{saveMob}}</label>
                    <span class="input-group-addon icon {{iconMob}}"></span>
                </div>
                <span class="help errorBox"></span>
            </div>
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control emailV" >
                    <label>{{saveEmail}}</label>
                    <span class="input-group-addon icon {{iconEmail}}"></span>
                </div>
                <span class="help errorBox"></span>
            </div>
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="password" class="form-control newPassword" >
                    <label>{{savePass}}</label>
                    <span class="input-group-addon icon {{iconPass}}"></span>
                </div>
                <span class="help errorBox"></span>
            </div>
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="password" class="form-control confirmPassword" >
                    <label>{{confirmPass}}</label>
                    <span class="input-group-addon icon {{iconPass}}"></span>
                </div>
                <span class="help errorBox"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="{{submitBtnTxt}}" class="btn">
            </div> 
            <div class="row">
                {{#if showSavedCard}}
                    <div class="col-xs-6 needhelp">
                        <a href="#" class="alink">Need help?
                            <div class="info-content">
                                <p><strong>Rule 1:</strong> Password must not exceed 21 characters.</p>
                                <p><strong>Rule 2:</strong> Password must contain at least 7 characters, with minimum if 1 uppercase character, 1 lowercase character and 1 number.</p>
                                <p><strong>Rule 3:</strong> Password should not contain any space or any special characters (e.g. ~ ! @ # $ % ^ &amp; * ( ) - _ + = . / \ |).</p>
                            </div>
                        </a>
                    </div>
                {{/if}}
                <div class="col-xs-6 text-right">
                    <a href="#" class="alink ccdc-goback">go back</a>
                </div>
            </div>  

        </div>
    </div>
    <!-- sign in -->
    <div class="savedCard signin-section">
        <div class="signBlock">
            <h3 class="subtitle">Sign In</h3>
             <div class="formDom form-group">
                <div class="input-group">
                    <input type="tel" class="form-control mobnumns" maxlength="10" minlength="10">
                    <label>{{saveMob}}</label>
                    <span class="input-group-addon icon {{iconMob}}"></span>
                </div>
                <span class="help errorBox"></span>
            </div>
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="password" class="form-control newPassword" >
                    <label>{{savePass}}</label>
                    <span class="input-group-addon icon {{iconPass}}"></span>
                </div>
                <span class="help errorBox"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="{{submitBtnTxt}}" class="btn">
            </div> 
            <div class="row">
                    <div class="col-xs-5">
                        <a href="#" class="alink">send OTP</a>
                    </div>               
                <div class="col-xs-7 text-right">
                    <a href="#" class="alink">Forgot password</a>
                </div>
            </div>  

        </div>
    </div>
    {{/if}}

     <!-- existing user login -->
    {{#if existingUser}}
    <div class="signin-section existing-user">
        <div class="signBlock">
            <h3 class="subtitle">Sign In</h3>
             <div class="formDom form-group">
                <div class="input-group">
                    <input type="tel" class="form-control mobnumns" maxlength="10" minlength="10">
                    <label>{{saveMob}}</label>
                    <span class="input-group-addon icon {{iconMob}}"></span>
                </div>
                <span class="help errorBox"></span>
            </div>
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="password" class="form-control newPassword" >
                    <label>{{savePass}}</label>
                    <span class="input-group-addon icon {{iconPass}}"></span>
                </div>
                <span class="help errorBox"></span>
            </div>
            <div class="row form-group">
                <div class="col-xs-5">
                    <a href="#" class="alink">send OTP</a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="{{submitBtnTxt}}" class="btn">
            </div> 
            <div class="row"> 
                <div class="col-xs-6">
                    <a href="#" class="alink ccdc-goback">go back</a>
                </div>             
                <div class="col-xs-6 text-right">
                    <a href="#" class="alink">Forgot password</a>
                </div>
            </div>  

        </div>
    </div>
    {{/if}}

</div>         