<div class="blockMain blockAirlaon" data="tabs-8" data-tab-type="Express_Payment">
		<!-- sign in -->
        <div class="exp-pay-signin">
            <div class="small60 signin-section">
                <div class="signBlock">
                    <h3 class="subtitle">Sign In</h3>
                    <div class="formDom form-group">
                    <div class="input-group">
                        <input type="text" class="form-control emailV" >
                        <label>{{emailID}}</label>
                        <span class="input-group-addon icon {{iconEmail}}"></span>
                    </div>
                    <span class="help errorBox"></span>
                    </div>
                    <div class="formDom form-group">
                    <div class="input-group">
                        <input type="password" class="form-control newPassword" >
                        <label>{{savePass}}</label>
                        <span class="input-group-addon icon {{iconPass}}"></span>
                        </div>
                        <span class="help errorBox"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="{{sumbitBtn}}" class="btn">
                    </div> 
                    <div class="row">
                        <div class="col-xs-5">
                            <a href="#" class="alink">send OTP</a>
                        </div>               
                    <div class="col-xs-7 text-right">
                        <a href="#" class="alink forgot-exp">Forgot password</a>
                    </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="exp-pay-forgot">
             <div class="small60 signin-section">
                <div class="signBlock">
                    <h3 class="subtitle">Forgot password</h3>
                    <div class="formDom form-group">
                    <div class="input-group">
                        <input type="text" class="form-control emailV" >
                        <label>{{emailID}}</label>
                        <span class="input-group-addon icon {{iconEmail}}"></span>
                    </div>
                    <span class="help errorBox"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="{{sumbitBtn}}" class="btn">
                    </div> 
                    <div class="row">
                                   
                    <div class="col-xs-12 text-right">
                        <a href="#" class="alink back-exp-pay">back</a>
                    </div>
                    </div> 
                </div>
            </div>
        </div>
</div>