
<div class="blockMain blockNetBanking" data="tabs-2"  data-tab-type="net-banking">
	<h3>Popular banks :</h3>
	<input class="bankId" type="hidden" name="" value="HDFC">
	<ul class="blocklist popularBanks">
		{{#each allbank}} 
			{{#if popular}}
				<li class="" data-attr-bankid="{{titile}}" data-attr-bankname="{{nbname}}">
					<label for="{{value}}-nb">
						<input type="radio" name="nbbank_radio" class="radio-box" value="{{value}}" data-nbtype="{{value}}-nb" id="{{value}}-nb">
						<span class="bankLogo lo-nb{{value}}"></span>
						<span class="banktx lo-tx{{value}}">{{nbname}}</span>
					</label>
					
				</li>
			{{/if}}
		{{/each}}
	</ul>	
	
	<div class="formDom form-group">
        <select name="nbbank_select" class="form-control net-banking-options">
            <option></option>
            {{#each allbank}}
				<option value="{{titile}}">{{nbname}}</option>
			{{/each}}
        </select>
		<input name="bankName" type="text" class="textbox icondrop validate bankName" data-error-msg="Please select bank" placeholder="Select Bank Name">
    </div>
	
	<div class="form-group">
		<input type="submit" value="Submit" data-btnid="nb_submit" class="btn">
	</div>
</div>