<div class="blockMain blockPaylater" data="tabs-11" data-tab-type="pay-later">
    

    <div class="stepwrap">
        <ul class="step">
        <li id="P1" class="firstli comp">
            <div class="num">1</div>
            <span>{{signUp}}</span>
            <div class="line"></div>
        </li>
        <li id="P2" class="midli hold">
            <div class="num">2</div>
            <span>{{verification}}</span>
            <div class="line"></div>
        </li>
        <li id="P3" class="lastli">
            <div class="num">3</div>
            <span>{{otptx}}</span>
            <div class="line"></div>
        </li>
         </ul>
     </div>

    <div class="note text-center" id="payltrNote"><p>{{epayNote}}</p></div>

    <div class="defaultBlock">
        <div class="epay-details">
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>{{firstName}}</label>
                    <span class="input-group-addon icon iUser"></span>
                </div>
                <span class="help">{{fnHelp}}</span>
            </div>  

             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>{{lastName}}</label>
                    <span class="input-group-addon icon iUser"></span>
                </div>
                <span class="help">{{lnHelp}}</span>
            </div> 

             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>{{emailID}}</label>
                    <span class="input-group-addon icon iEmail"></span>
                </div>
                <span class="help">{{eidHelp}}</span>
            </div> 

             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>{{phone}}</label>
                    <span class="input-group-addon icon iMob"></span>
                </div>
                <span class="help">{{phHelp}}</span>
            </div> 

            <div class="form-group">
                <label>
                    <input type="checkbox" class="checkbox-inline" value="">
                    {{termsLine}} <a class="payltrtnc" data-type="tncpayltr" href="javascript:void(0);" id="payltr-tnc">{{terms}}</a>
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="{{sumbitBtn}}" class="btn">
                <p class="note-txt text-right">{{formNote}}</p> 
            </div> 

            <p class="text-right"><a href="javascript:void(0);">{{epayInfo}}</a></p>
        </div>


        <div class="epay-uid">
             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>{{adharlabel}}</label>
                    <span class="input-group-addon icon iaadhar"></span>
                </div>
                <span class="help">{{adharHelp}}</span>
            </div> 

             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>{{panLabel}}</label>
                    <span class="input-group-addon icon ipancard"></span>
                </div>
                <span class="help">{{panHelp}}</span>
            </div> 

            <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>{{birthlabel}}</label>
                    <span class="input-group-addon icon ical"></span>
                </div>
                <span class="help">{{birthHelp}}</span>
            </div> 


            <div class="form-group">
                <input type="submit" value="{{sumbitBtn}}" class="btn">
                <p class="text-right"><a href="javascript:void(0);">{{canceltx}}</a></p> 
            </div> 

        </div>

        <div class="epay-otp">
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="password" class="form-control">
                    <label>{{otpLabel}}</label>
                    <span class="input-group-addon icon iotp"></span>
                </div>
                <span class="help">{{otpHelp}}</span>
            </div> 
            <div class="form-group">
                <input type="submit" value="{{sumbitBtn}}" class="btn">
                <p class="noteLink">
                    <a class="float-left" href="javascript:void(0);">{{canceltx}}</a>
                    <a class="float-right" href="javascript:void(0);">{{resendtx}}</a>
                </p> 
            </div> 
        </div>

    </div>
</div>         