<div class="blockMain block-virtual" data="tabs-12" data-tab-type="virtual-acc">
    <div class="block-info">
        <h3>{{vainfoTitle}} :-</h3>
        <p class="block-para">{{{vablockPara}}}</p>

    </div>

    <div class="block-acc block-va-acc">
        <p>{{vablockPara1}} :</p>
        <div class="block-acc-details">
            <ul class="list-acc">
                <li class="thval vthval"><strong>{{vaAccTx}} :</strong> </li>
                <li></li>
            </ul>
            <ul class="list-acc">
                <li class="thval vthval">{{vaIFSCtx}} :  </li>
                <li class="thdata vthdata"> KKBK0000958</li>
            </ul>
            <ul class="list-acc">
                <li class="thval vthval">{{vaBankTx}} :  </li>
                <li class="thdata vthdata">  Kotak Mahindra Bank</li>
            </ul>
            <ul class="list-acc">
                <li class="thval vthval">{{vaBraTx}} : </li>
                <li class="thdata vthdata">Nariman Point</li>
            </ul>
            <ul class="list-acc">
                <li class="thval vthval">{{vaBaAddTx}} :  </li>
                <li class="thdata vthdata">{{vaBaAddTx}} 5 C/II MITTAL COURT, 224, NARIMAN POINT, MUMBAI-400021</li>
            </ul>
            <p>{{vablockPara2}}</p>

        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="{{sumbitBtnTxt}}" class="btn">
    </div>
</div> 