<div class="blockMain block-virtual" data="tabs-12" data-tab-type="virtual-acc">
    <div class="block-info">
        <h3>{{vainfoTitle}} :-</h3>
        <p class="block-para">{{{vablockPara}}}</p>
        <div class="form-group">
         <input type="submit" value="{{sumbitBtnTxt}}" class="btn virtual-acc-details">
        </div>
    </div>

    <div class="block-acc block-va-acc">
        <p>{{vablockPara1}} :</p>
        <div class="block-acc-details">
            <ul class="list-acc">
                <li class="thval vthval"><strong>{{vaAccTx}} :</strong> </li>
                <li></li>
            </ul>
            <ul class="list-acc">
                <li class="thval vthval">{{vaifscTx}} :  </li>
                <li class="thdata vthdata">{{vaifscCode}} </li>
            </ul>
            <ul class="list-acc">
                <li class="thval vthval">{{vaBankTx}} :  </li>
                <li class="thdata vthdata">{{vaBankCode}} </li>
            </ul>
            <ul class="list-acc">
                <li class="thval vthval">{{vaBranchTx}} : </li>
                <li class="thdata vthdata">{{vaBranchCode}}</li>
            </ul>
            <ul class="list-acc">
                <li class="thval vthval">{{vaBankAddTx}} :  </li>
                <li class="thdata vthdata">{{vaBankAddCode}}</li>
            </ul>
            <p>{{vablockPara2}}</p>

        </div>
        <div class="form-group">
         <input type="submit" value="{{sumbitBtnTxt}}" class="btn">
        </div>
    </div>    
</div> 