<div class="blockMain blockWallet {{cardsClass}}"  data-tab-type="{{dataTabType}}">
	<div class="walletlist">
		<ul class="blocklist ">
			{{#each allWallet}} 
				<li class="{{titile}}">
					<label for="{{titile}}-ppc">
						<input type="radio" name="wallet_radio" class="radio-box" value="{{value}}" data-wallettype="{{value}}Wallet" id="{{titile}}-ppc">
						<span class="walletLogo logo-{{titile}}">{{walletname}}</span>
					</label>
					
				</li>
			{{/each}}
		</ul>	
		<div class="form-group">
			<input type="submit" value="Submit" data-btnid="nb_submit" class="btn">
		</div>	
	</div>
	<div class="wallet-login">
		<!-- sign in -->
		<div class="small60 signin-section">
			<div class="signBlock">
				<h3 class="subtitle">Sign In</h3>
				<div class="formDom form-group">
					<div class="input-group">
						<input type="tel" class="form-control mobnumns" maxlength="10" minlength="10" data-rule-required="false">
						<label>{{walletMob}}</label>
						<span class="input-group-addon icon {{iconMob}}"></span>
					</div>
					<span class="help errorBox"></span>
				</div>
				<div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control emailV" data-rule-required="false">
                    <label>{{walletEmail}}</label>
                    <span class="input-group-addon icon {{iconEmail}}"></span>
                </div>
                <span class="help errorBox"></span>
            	</div>
				<div class="form-group">
					<input type="submit" value="{{submitBtnTxt}}" class="btn wallet-submit">
				</div> 
				<div class="row">              
					<div class="col-xs-12 text-right">
                    	<a href="#" class="alink goback">go back</a>
               		</div>
				</div> 
			</div>
		</div>
	</div>
</div>