
<div id="cards" class="blockMain ">
	<form class="row">                              
            <div class="col-sm-8">
                <div class="form-group">
                    <input type="text" class="form-control" >
                    <label>{{cnLabel}}</label>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="form-group">
                 <input type="password" name="password" class="form-control">
                 <label>{{cxLabel}}</label>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="form-group">
                <input type="text" class="form-control" >
                <label>{{chnLabel}}</label>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="form-group">
                 <input type="text" class="form-control">
                 <label>{{cvvLabel}}</label>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="form-group">
				<input type="submit" value="Submit" data-btnid="nb_submit" class="btn">
			</div>
    </form>

    <!--<form class="form-horizontal">
        <div class="row form-group">
            <label class="col-sm-4">{{cnLabel}}</label>
            <input type="text" class="col-sm-8 form-control" >
        </div>
        <div class="row form-group">
            <label class="col-sm-4">{{chnLabel}}</label>
            <input type="text" class="col-sm-8 form-control" >
        </div>
        <div class="row form-group">
            <label class="col-sm-4">{{cxLabel}}</label>
            <input type="text" class="col-sm-3 form-control" >
            <input type="text" class="col-sm-3 form-control" >
        </div>
        <div class="row form-group">
            <label class="col-sm-4">{{cvvLabel}}</label>
            <input type="text" class="col-sm-3 form-control" >
        </div>
    </form>-->
</div>